**What will be the output of the following code?**
```python
def func(a, b=[]):
    b.append(a)
    return b

print(func(1))
print(func(2))
print(func(3, []))
print(func(4))
```
- A) [1], [2], [3], [4]
- B) [1], [1, 2], [3], [1, 2, 4]
- C) [1], [2], [3, 4], [4]
- D) [1], [2], [3], [1, 2, 3, 4]

In [3]:
def func(a, b=[]):
    b.append(a)
    return b

print(func(1))
print(func(2))
print(func(3, []))
print(func(4))
print(set(func(1)))

[1]
[1, 2]
[3]
[1, 2, 4]
{1, 2, 4}

**What will be the output of the following code?**
```python
class A:
    def __init__(self):
        self.x = 1

class B(A):
    def __init__(self):
        super().__init__()
        self.y = self.x + 1

class C(A):
    def __init__(self):
        super().__init__()
        self.y = self.x + 2

class D(B, C):
    def __init__(self):
        super().__init__()

obj = D()
print(obj.y)
```
- A) 2
- B) 3
- C) 4
- D) Error

In [4]:
class A:
    def __init__(self):
        self.x = 1

class B(A):
    def __init__(self):
        super().__init__()
        self.y = self.x + 1

class C(A):
    def __init__(self):
        super().__init__()
        self.y = self.x + 2

class D(B, C):
    def __init__(self):
        super().__init__()

obj = D()
print(obj.y)

2

3. **What will be the output of this code?**
```python
a = (1, 2, 3)
b = a
a += (4, 5)
print(a)
print(b)
```
- A) (1, 2, 3, 4, 5), (1, 2, 3, 4, 5)
- B) (1, 2, 3, 4, 5), (1, 2, 3)
- C) (1, 2, 3), (1, 2, 3, 4, 5)
- D) (1, 2, 3), (1, 2, 3)

In [5]:
a = (1, 2, 3)
b = a
a += (4, 5)
print(a)
print(b)

(1, 2, 3, 4, 5)
(1, 2, 3)

4. **What will be the output of the following code?**
```python
def func():
    for i in range(3):
        yield i

g = func()
print(next(g))
print(next(g))
g.close()
print(next(g))
```
- A) 0 1 2
- B) 0 1 StopIteration
- C) 0 1 RuntimeError
- D) 0 1 0

In [6]:
def func():
    for i in range(3):
        yield i

g = func()
print(next(g))
print(next(g))
g.close()
print(next(g))

0
1

StopIteration:

5. **What will be the output of this code?**
```python
def add_to_list(value, lst=[]):
    lst.append(value)
    return lst

print(add_to_list(1))
print(add_to_list(2, []))
print(add_to_list(3))
```
- A) [1], [2], [3]
- B) [1], [2], [1, 3]
- C) [1], [2], [3]
- D) [1], [2], [1, 3]

In [7]:
def add_to_list(value, lst=[]):
    lst.append(value)
    return lst

print(add_to_list(1))
print(add_to_list(2, []))
print(add_to_list(3))

[1]
[2]
[1, 3]

In [ ]:
class books:
    def __init__ (self, author,title):
        self.author = author
        self.title = title

class journas:
    def __init__ (self):
        super().__init__()
        self.info = self.author

In [ ]:
books('mamo','Mathematics')
p = books()

In [3]:
x, y, z = "Orange", "Banana", "Cherry"
print('x:',x)
print('y:', y)
print('z:', z)

x: Orange
y: Banana
z: Cherry

In [4]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print('x:',x)
print('y:', y)
print('z:', z)

x: apple
y: banana
z: cherry

In [2]:
# Global and local variables
#x = 'Amazing'
def myFunc():
    global x
    x = 'So cool'
    #print('Python is',x)
myFunc()
print('Python is',x)

Python is So cool

In [20]:
myFunc()

In [6]:
print('Hello','World', 'me')

Hello World me

In [8]:
import random

In [13]:
print(random.randrange(1, 1000))

835

In [14]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'banana', 'cherry', 'apple'}

In [18]:
import warnings
warnings.filterwarnings('ignore')

In [19]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "-", txt)
print(x)

The-rain-in-Spain

In [20]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [21]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

In [24]:
txt = "The rain in Spain"
x = re.search("ai", txt)
print(x.span())

(5, 7)

In [29]:
myText = "I am not waiting to get the highest skill to score in exam, but time to get all content"
letter_o = re.search('o',myText)
print(letter_o.span())

(6, 7)

In [32]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [33]:
txt = 'The rain in Spain'
x = re.findall('[a-c]', txt)
print(x)

['a', 'a']

In [36]:
txt = 'The rain in Spain'
x = re.search('a', txt)
print(x.start())

5

In [35]:
txt = 'The rain in Spain'
x = re.search('a', txt)
print(x.end())

6

In [37]:
txt = 'The rain in Spain'
x = re.search('\s', txt)
print(x.start())

3

In [45]:
txtr = 'The rain in Spain'
y = re.findall('[a-g]', txtr)
print(y)

['e', 'a', 'a']

In [60]:
txtr = 'The rain in Spain'
y = re.findall('[a-zA-Z]', txtr)
print(len(y))
print(len(txtr))

14
17

In [70]:
txtr = 'The rain in + Spain'
y = re.findall(r'\W', txtr)
print(y)

[' ', ' ', ' ', '+', ' ']

In [56]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [80]:
my_text = 'The best thing in life is Jesus & being his follower 4ever!!, @ake.com'
spe_char = re.findall(r"[^a-zA-Z0-9\s]", my_text)
print(spe_char)

['&', '!', '!', ',', '@', '.']

In [81]:
def countSpecialChar(my_text):
    spe_char = re.findall(r"[^a-zA-Z0-9\s]", my_text)
    count_char = len(spe_char)
    return count_char

In [82]:
my_text = 'The best thing in life is Jesus & being his follower 4ever!!, @ake.com'
countSpecialChar(my_text=my_text)

6

In [87]:
Amount = 20000
txt2 = f"The amount is {Amount:,} dollars"
print(txt2)

The amount is 20,000 dollars

**Nested dictionary**

In [91]:
student = {
    "name": "Alice",
    "age": 22,
    "grades": {
        "math": 90,
        "science": 85,
        "history": 88
    }
}

print(student)  
print(student['age'])
print(student["grades"]['math'])# Output: 90

{'name': 'Alice', 'age': 22, 'grades': {'math': 90, 'science': 85, 'history': 88}}
22
90

In [92]:
students = {
    "student1": {"name": "Alice", "age": 22, "grades": {"math": 90, "science": 85}},
    "student2": {"name": "Bob", "age": 21, "grades": {"math": 78, "science": 80}}
}

print(students["student2"]["grades"]["science"])  # Output: 80

80

In [93]:
students["student1"]["grades"]["math"] = 95  # Update value
students["student2"]["grades"]["english"] = 89  # Add new key

print(students)

{'student1': {'name': 'Alice', 'age': 22, 'grades': {'math': 95, 'science': 85}}, 'student2': {'name': 'Bob', 'age': 21, 'grades': {'math': 78, 'science': 80, 'english': 89}}}