In [12]:
class solution(object):
    def IsOdd(self,k:int) -> bool:
        if (k%2==0):
            return False
        else:
            True
        return True

In [42]:
li = ["USA","Mexico","Canada"]

In [43]:
li.append("Greenland")

In [44]:
li

['USA', 'Mexico', 'Canada', 'Greenland']

In [45]:
li.remove('Greenland')

In [46]:
li

['USA', 'Mexico', 'Canada']

In [47]:
li.insert(0,"Greenland")

In [48]:
li

['Greenland', 'USA', 'Mexico', 'Canada']

In [51]:
li[:2]

['Greenland', 'USA']

In [52]:
li[2:]

['Mexico', 'Canada']

In [53]:
li[1:3]

['USA', 'Mexico']

In [54]:
li = ['USA', 'Mexico', 'Canada', 'Greenland']

In [63]:
li[-1][:-4]

'Green'

In [64]:
dic = {
    1:'A',
    2:'B'
}

In [67]:
dic[2]

'B'

In [68]:
del dic[1]

In [69]:
dic

{2: 'B'}

In [70]:
dic[3]='D'

In [71]:
dic

{2: 'B', 3: 'D'}

In [72]:
dic['g']=5

In [73]:
dic

{2: 'B', 3: 'D', 'g': 5}

In [74]:
company = departments = {"Human Resources":3, "Sales":5, "R&D":4}

In [78]:
list(company.keys())

['Human Resources', 'Sales', 'R&D']

In [77]:
list(company.values())

[3, 5, 4]

In [81]:
if 2>1:
    print('That is true')

That is true

In [92]:
try:
    age = int(input("Enter your age:"))
    if (age >= 21):
        print('You are allowed to drink!')
    else:
        print('You are NOT allowed to drink!')
except ValueError:
    print('Invalid input, please try again!')

Invalid input, please try again!

In [94]:
while True:
    try:
        age = int(input("Enter your age: "))
        if age < 0:
            print("Age cannot be negative!")
        elif age > 120:
            print("Please enter a realistic age!")
        elif age >= 21:
            print('You are allowed to drink!')
        else:
            print('You are NOT allowed to drink!')
        break  # Exit the loop if input is valid
    except ValueError:
        print("Invalid input! Please enter a valid integer.")

Invalid input! Please enter a valid integer.
Invalid input! Please enter a valid integer.
You are allowed to drink!

In [96]:
user_email = input("Enter your email id:")
if 'gmail' in user_email:
    print('This is gmail user')
elif 'hotmail' in user_email:
    print('This is hotmail user')
elif 'yahoo' in user_email:
    print('Thsi is yahoo user')
else:
    print('Other user')

Other user

In [97]:
A = [1,4, 5,8,9,6,12]
len(A)

7

In [3]:
from typing import List

In [14]:
def longest_consecutive(nums: List[int]) -> int:
    if not nums:
        return 0
    nums_set = set(nums)
    longest = 0
    for num in nums_set:
        if num - 1 not in nums_set:
            current_num = num
            current_s = 1
            while current_num + 1 in nums_set:
                current_num+=1
                current_s+=1
            longest = max(longest, current_s)

    return longest

In [15]:
nums = [5,6,3,4,9,13,2,16,1]
longest_consecutive(nums=nums)

6

In [12]:
def longest_consecutive(nums):
    if not nums:
        return 0

    num_set = set(nums)
    longest_streak = 0

    for num in num_set:
        # Start a sequence only if it's the beginning (num - 1 not in set)
        if num - 1 not in num_set:
            current_num = num
            current_streak = 1

            while current_num + 1 in num_set:
                current_num += 1
                current_streak += 1

            longest_streak = max(longest_streak, current_streak)

    return longest_streak

In [13]:
# Example usage:
print(longest_consecutive([100, 4, 200, 1, 3, 2]))  # Output: 4
print(longest_consecutive([9, 1, 8, 2, 7, 3, 6, 4, 5]))  # Output: 9

4
9

- *Create a Phone class designed to create mobile phone objects. Define two attributes for the class, price, and brand.*
- *In addition to the ```__init__``` method, define two other methods, a getprice, and a getbrand method.*
- *The getprice and the getbrand method will display information about the phone price and brand respectively.*

In [ ]:
class Phone():
    def __init__(self, price, brand):
        self.price = price
        self.brand = brand
        print('Information about the price and brand')
    def getbrand(self):
        print('Brand of the phone is:{self.brand}')
    def getprice(self):
        print('The price of the phone {self.price}')

In [ ]:
class Smartphone(Phone):
    def __init__(self,price,screensize, ):
         super().__init__(price, "Beta") 
         self.screensize = screensize 
         def getscreensize(self):
             print("Mobile screen size: %s" % self.screensize)

In [19]:
import datetime
datetime.datetime.now()

datetime.datetime(2025, 3, 14, 18, 14, 3, 193123)

In [20]:
datetime

In [ ]:
# Open a file and read the text inside it
file = open('path','r')
file.read()
file.close()
# To read text line by line:
file = open("path",'r')
file.readlines()
#To open and write inside a text file
file = open("path",'a')
file.write('The text to write into file')
file.close()
# open and write file into a text file
file = open("path",'w')
file.write('This a text to put into the file')
file.close()
# Use with to loop over
with open("path","r") as file:
    file.read()

In [7]:
# This removed all the existing text file and puts new text 'tensorflow' and 'pandas'
file = open("requirements.txt", 'w')
file.write('tensorflow\npandas\nnumpy\nmatplotlib.pyplot\nseaborn')
file.close()

In [8]:
import os

In [9]:
os.makedirs('file_handling')

In [10]:
os.chdir("file_handling")

In [14]:
os.getcwd()

'e:\\python_tutorial\\file_handling'

In [15]:
os.listdir('e:\\python_tutorial')

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'data',
 'file_handling',
 'hello.py',
 'LICENSE',
 'Master_python.ipynb',
 'models',
 'new_data.xlsx',
 'notebooks',
 'pandas_steps.ipynb',
 'python_ds.ipynb',
 'README.md',
 'requirements.txt']

In [ ]:
os.chdir('../')

In [18]:
os.rmdir("file_handling")

In [20]:
import shutil as st

In [ ]:
# To delete a directory with files inside
st.rmtree('directory_with_files')

- *Write a Python script that will create a new text file in your computer.* 
- *Then, using looping, write the following lines of text inside the text file:*
- ```1145, 1139, 1132, No data, 1141```

In [22]:
with open("new_file.txt",'w') as file:
    for item in ['1145','1139','1132','No Data','1141']:
        file.write(item+'\n')

- *In this exercise, you have to do the reverse of exercise 1 that is reading the existing text file you created in exercise 1, and store the lines of text in a list.*

In [24]:
data = []
with open('new_file.txt','r') as file:
    for i in ['1145','1139','1132','No Data','1141']:
        file.readlines()
        #print(file.readlines)
        data.append(i.strip("\n"))

In [25]:
data

['1145', '1139', '1132', 'No Data', '1141']

**Database handling**

In [26]:
import sqlite3

db = sqlite3.connect('mydb.db')

In [27]:
db.execute('create table song ( title text, author text, rating int)')

In [28]:
db.commit()

*To avoid that, you can add another line before creating the table as follows: ```db.execute('drop table if exists song')```*

In [29]:
db.execute('insert into song (title, author, rating) values ("The map of reality", "The New Smiths",9)')

In [30]:
db.commit()

*If you change your mind about the values you inserted, you can always updtate them using the SQL update keyword as follows:*

In [31]:
db.execute('update song set rating = 10 where title = "The map of reality"') 
db.commit()

In [32]:
data = db.execute('select * from song')

In [33]:
for row in data:
    print(row)

('The map of reality', 'The New Smiths', 10)

- *Lastly, we will see how we can delete rows from a table using Python.* 
- *As you might expect, this also employs very few code:
```db.execute('delete from song where rating = 10')``` 
```db.commit()```

**Regular expressions**

In [34]:
import re
text = "Here is some text that contains something."
pattern= "that"
re.search(pattern, text)

In [35]:
#If you need, you can extract the span of the pattern,
#by applying the span method to the match object as follows: 
re.search(pattern,text).span()

(18, 22)

In [38]:
#You can also extract the start index only: 
re.search(pattern,text).start()

18

In [37]:
#Similarly, you can also get the end index: 
re.search(pattern,text).end()

22

In [39]:
text = "Here is some text that contains something."

pattern = "that"

if re.search(pattern, text):
    print("Yes, %s was found in the text" % pattern) 
else:
    print("No, %s was not found in the text" % pattern)

Yes, that was found in the text

In [54]:
def checkPat(pattern:str) -> str:
    pattern = input("Enter the pattern to be searched:")
    text = "Here is some text that contains something."
    if re.search(pattern, text):
        print('Yes "{}" found in the text'.format(pattern))
        print(re.search(pattern, text).span())
    else:
        print('No! "{}" not found in text'.format(pattern))

In [55]:
checkPat(pattern=pattern)

No! "love" not found in text

**Matching more than one pattern**

- *In our previous example, we had only one pattern occurring in the text. If we had two same patterns, the search method would fail to find them both:*
```python
 text = "Here is some text that contains something that occurs twice."
```
```python
pattern= "that"
```
```python
re.search(pattern, text)
```
*This would return this:*
```python
<_sre.SRE_Match object; span=(18, 22), match='that'>
```
- As you see, that would capture only the pattern that occurs first.
- To capture all patterns, we need to use the findall method as follows: 
```python
text = "Here is some text that contains something that occurs twice."
pattern= "that"
re.findall(pattern, text)
```

In [57]:
text = "Here is some text that contains something that occurs twice."
pattern= "that"
all_pat = re.findall(pattern, text)
len(all_pat)

2

* *If you still want to get match object as return, instead of a list, you would have to use the finditer method.finditer will return an iterator object which contains the set of match objects found during the search. Here is how we would implement it:*
```python
import re
text = "Here is some text that contains something that occurs twice."
pattern= "that"
matches = re.finditer(pattern, text) for i in matches:
print(i.span())
```

In [59]:
text = "Here is some text that contains something that occurs twice."
pattern = 'that'
matches = re.finditer(pattern,text) 
print(matches)
for i in matches:
    print(i.span())

<callable_iterator object at 0x00000204F2E80370>
(18, 22)
(42, 46)