In [1]:
import pandas as pd

In [2]:
# Creating Employee DataFrame
employee = pd.DataFrame({
    "id": [1, 2, 3, 4, 5],
    "name": ["Joe", "Jim", "Henry", "Sam", "Max"],
    "salary": [70000, 90000, 80000, 60000, 90000],
    "departmentId": [1, 1, 2, 2, 1]
})

# Creating Department DataFrame
department = pd.DataFrame({
    "id": [1, 2],
    "name": ["IT", "Sales"]
})

In [3]:
print(employee)
print(department)

   id   name  salary  departmentId
0   1    Joe   70000             1
1   2    Jim   90000             1
2   3  Henry   80000             2
3   4    Sam   60000             2
4   5    Max   90000             1
   id   name
0   1     IT
1   2  Sales

In [5]:
merge_df = employee.merge(department, left_on = 'departmentId', right_on='id', suffixes=('_emp','_dept'))
merge_df

   id_emp name_emp  salary  departmentId  id_dept name_dept
0       1      Joe   70000             1        1        IT
1       2      Jim   90000             1        1        IT
2       3    Henry   80000             2        2     Sales
3       4      Sam   60000             2        2     Sales
4       5      Max   90000             1        1        IT

In [7]:
max_salaries = merge_df.groupby('name_dept')['salary'].max().reset_index()
max_salaries

  name_dept  salary
0        IT   90000
1     Sales   80000

In [9]:
results_df = merge_df.merge(max_salaries,on=['name_dept','salary'])
results_df

   id_emp name_emp  salary  departmentId  id_dept name_dept
0       2      Jim   90000             1        1        IT
1       3    Henry   80000             2        2     Sales
2       5      Max   90000             1        1        IT

In [15]:
results_df = results_df.rename(columns={'name_emp':'Employee', 'name_dept':'Department', 'salary':'Salary'})

In [16]:
print(results_df[['Employee','Department','Salary']])

  Employee Department  Salary
0      Jim         IT   90000
1    Henry      Sales   80000
2      Max         IT   90000

***We can handle ranking scores*** in a *Pandas DataFrame* using the ```.rank()``` method. 
- It allows you to assign ranks based on values in a column, 
- It handles ties in different ways.
  - *Examples in Ranking Scores*

In [22]:
import pandas as pd

df = pd.DataFrame({"name": ["Alice", "Bob", "Charlie", "David", "Eve"],
        "score": [90, 85, 90, 80, 75]})
# Rank scores (default: average rank for ties)
df["rank"] = df["score"].rank(ascending=False)
print(df)

      name  score  rank
0    Alice     90   1.5
1      Bob     85   3.0
2  Charlie     90   1.5
3    David     80   4.0
4      Eve     75   5.0

**Ranking Methods in ```.rank()```**
*You can control how ties are handled using the method parameter:*
* ```average``` (default) → Assigns the average rank to tied values.
* ```min``` → Tied values get the lowest rank.
* ```max``` → Tied values get the highest rank.
* ```first``` → Ranks in the order they appear.
* ```dense``` → Like min, but without gaps in ranking.

In [23]:
# Examples
df["rank_min"] = df["score"].rank(ascending=False, method="min")
print(df)

      name  score  rank  rank_min
0    Alice     90   1.5       1.0
1      Bob     85   3.0       3.0
2  Charlie     90   1.5       1.0
3    David     80   4.0       4.0
4      Eve     75   5.0       5.0

In [24]:
df["rank_max"] = df["score"].rank(ascending=False, method="max")
print(df)

      name  score  rank  rank_min  rank_max
0    Alice     90   1.5       1.0       2.0
1      Bob     85   3.0       3.0       3.0
2  Charlie     90   1.5       1.0       2.0
3    David     80   4.0       4.0       4.0
4      Eve     75   5.0       5.0       5.0

In [25]:
df["rank_dense"] = df["score"].rank(ascending=False, method="dense")
print(df)

      name  score  rank  rank_min  rank_max  rank_dense
0    Alice     90   1.5       1.0       2.0         1.0
1      Bob     85   3.0       3.0       3.0         2.0
2  Charlie     90   1.5       1.0       2.0         1.0
3    David     80   4.0       4.0       4.0         3.0
4      Eve     75   5.0       5.0       5.0         4.0

In [32]:
scores_df = pd.DataFrame({
    'id':[1,2,3,4,5,6],
    'score':[3.50,3.65,4.00,3.85,4.00,3.65]
})

In [ ]:
def order_scores(scores:pd.DataFrame) -> pd.DataFrame:
    scores['rank'] = scores['score'].sort_values(ascending=True).rank(ascending=True, method='dense')
    return scores[['score','rank']]

In [54]:
order_scores(scores=scores_df)

KeyError: "None of [Index(['score', 'rank'], dtype='object')] are in the [index]"