Working with databases (mysql) to get data from tables

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Define database connection (Replace with your details)
db_user = "root"
db_password = "magano%40aba"
db_host = "localhost"  # Or your database server
db_name = "empa_db"

In [2]:
# Create engine
engine = create_engine(f"mysql+mysqlconnector://{db_user}:{db_password}@{db_host}/{db_name}")

In [4]:
table_name = 'users'

In [5]:
df = pd.read_sql(f"SELECT * FROM {table_name}", engine)

In [6]:
df.head()

,id,title,first_name,middle_name,last_name,affiliation,email,password,role_id,createdAt,updatedAt
0,1,Dr,Assefa,Gebremichael,Tadesse,"Addis Ababa University, Mathematics Department",assefa12.tadesse@aau.edu.et,$2b$10$w0WOto7A3llq4v.o3d7c0OaoXeeN9edPJn37Yyq...,1,2025-02-12 13:27:14,2025-02-12 13:30:50
1,2,Prof,Yemane,Kassahun,Belay,"Hawassa University, Applied Mathematics",yemane.belay@hu.edu.et,$2b$10$w0WOto7A3llq4v.o3d7c0OaoXeeN9edPJn37Yyq...,2,2025-02-12 13:27:14,2025-02-12 13:30:50
2,3,Prof,Solomon,Tsegaye,Abera,"Bahir Dar University, Pure Mathematics",helen@gmail.com,$2b$10$C/spYxwBYXNlFNrEY3Nd4uFP0xTN/nGGirvb5S4...,3,2025-02-12 13:27:14,2025-02-12 13:30:50
3,4,Mr,Ake,A,Anulo,DDU,abrish@gmail.com,$2a$10$9HSU5FfHhnZNxi3ytgoeZuqd1c1nK0JSoPwPDCv...,1,2025-02-12 21:36:30,2025-02-12 21:36:30
4,5,Dr,Solomon,M,Abera,AAU,sol@gmail.com,$2a$10$HW7ZV3C52LMXxND1OtILLOgKbzQ3kHthjVSA/Nn...,2,2025-02-12 22:23:10,2025-02-12 22:23:10

In [7]:
df.to_csv('empa_users.csv')