***Beginner Level: Foundations***
- *CREATE DATABASE: Creating databases.*
- *USE: Selecting a database.*
- *CREATE TABLE: Creating tables with columns and data types.*
- *Common data types: INT, VARCHAR, DATE, DECIMAL, TEXT.*
- *ALTER TABLE: Modifying table structures (adding, removing, changing columns).*
- *DROP TABLE: Deleting tables.*
- *DROP DATABASE: Deleting databases.*

**Basic SQL Commands (Data Manipulation Language - DML):**
- *INSERT: Adding data into tables.*
- *SELECT: Retrieving data from tables.*
- WHERE: Filtering data based on conditions.*
- UPDATE: Modifying existing data.*
- DELETE: Removing data from tables.*

**Basic SELECT Queries:**
- *Selecting specific columns.*
- *Using * to select all columns.*
- *Ordering results using ORDER BY.*
- *Limiting results using LIMIT.*
- *Using DISTINCT to get unique values.*

**Intermediate Level: Expanding Your Skills**

1. **Advanced SELECT Queries:**

* *Aggregate functions: COUNT, SUM, AVG, MIN, MAX.*
* *GROUP BY: Grouping data based on columns.*
* *HAVING: filtering grouped data.*
* *Joins: INNER JOIN, LEFT JOIN, RIGHT JOIN, FULL OUTER JOIN.*
* *Subqueries: Queries within queries.*

2. **Constraints:**

* *PRIMARY KEY: Uniquely identifying rows.*
* *FOREIGN KEY: Establishing relationships between tables.*
* *UNIQUE: Ensuring unique values in columns.*
* *NOT NULL: Preventing null values.*
* *CHECK: Enforcing data integrity.*

3. **Indexes:**

* *Understanding the purpose of indexes.*
* *Creating indexes: CREATE INDEX.*
* *Types of indexes: B-tree, hash.*
* *Knowing when and how to use indexes for performance.*

4. **Views:**

* *Creating and using views: CREATE VIEW.*
* *Understanding the benefits of views.*
* *Updating and deleting views.*

5. **Transactions:**

* *Understanding ACID properties (Atomicity, Consistency, Isolation, Durability).*
* *START TRANSACTION, COMMIT, ROLLBACK.*
* *Managing concurrent access.*

6. **Data Types Deep Dive:**

* *Understanding the different nuances of numeric, string, date, and time datatypes.*
* *Choosing the optimal datatype for each column.*
* *Converting data types.*

**Advanced Level: Mastering MySQL**

1. **Stored Procedures and Functions:**

* *Creating stored procedures: CREATE PROCEDURE.*
* *Creating functions: CREATE FUNCTION.*
* *Using parameters and variables.*
* *Control flow: IF, CASE, WHILE, LOOP.*

2. **Triggers:**

* *Creating triggers: CREATE TRIGGER.*
* *Understanding trigger events: BEFORE INSERT, AFTER UPDATE, etc.*
* *Using triggers for auditing and data validation.*
* *Performance Tuning:*

3. **Query optimization: EXPLAIN statement.**
* *Index optimization.*
* *MySQL configuration tuning.*
* *Understanding the query cache.*
* *Profiling queries.*
* *Using slow query logs.*

4. **Security:**
User management: CREATE USER, GRANT, REVOKE.
Understanding privileges.
Securing MySQL installations.
SSL/TLS encryption.
Replication and High Availability:

Master-slave replication.
Understanding replication topologies.
MySQL Group Replication.
Backups and recovery.
Partitioning:

Horizontal partitioning.
Vertical partitioning.
Range, list, hash, and key partitioning.
Partition management.
Advanced Data Types and Features:

JSON data type and functions.
Spatial data types and functions.
Full-text search.
Window functions.
MySQL Ecosystem and Tools:

MySQL Shell.
MySQL Router.
MySQL Connectors.
Cloud based MySQL services.

Working with databases (mysql) to get data from tables

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Define database connection (Replace with your details)
db_user = "root"
db_password = "magano%40aba"
db_host = "localhost"  # Or your database server
db_name = "empa_db"

In [2]:
# Create engine
engine = create_engine(f"mysql+mysqlconnector://{db_user}:{db_password}@{db_host}/{db_name}")

In [4]:
table_name = 'users'

In [5]:
df = pd.read_sql(f"SELECT * FROM {table_name}", engine)

In [6]:
df.head()

,id,title,first_name,middle_name,last_name,affiliation,email,password,role_id,createdAt,updatedAt
0,1,Dr,Assefa,Gebremichael,Tadesse,"Addis Ababa University, Mathematics Department",assefa12.tadesse@aau.edu.et,$2b$10$w0WOto7A3llq4v.o3d7c0OaoXeeN9edPJn37Yyq...,1,2025-02-12 13:27:14,2025-02-12 13:30:50
1,2,Prof,Yemane,Kassahun,Belay,"Hawassa University, Applied Mathematics",yemane.belay@hu.edu.et,$2b$10$w0WOto7A3llq4v.o3d7c0OaoXeeN9edPJn37Yyq...,2,2025-02-12 13:27:14,2025-02-12 13:30:50
2,3,Prof,Solomon,Tsegaye,Abera,"Bahir Dar University, Pure Mathematics",helen@gmail.com,$2b$10$C/spYxwBYXNlFNrEY3Nd4uFP0xTN/nGGirvb5S4...,3,2025-02-12 13:27:14,2025-02-12 13:30:50
3,4,Mr,Ake,A,Anulo,DDU,abrish@gmail.com,$2a$10$9HSU5FfHhnZNxi3ytgoeZuqd1c1nK0JSoPwPDCv...,1,2025-02-12 21:36:30,2025-02-12 21:36:30
4,5,Dr,Solomon,M,Abera,AAU,sol@gmail.com,$2a$10$HW7ZV3C52LMXxND1OtILLOgKbzQ3kHthjVSA/Nn...,2,2025-02-12 22:23:10,2025-02-12 22:23:10

In [7]:
df.to_csv('empa_users.csv')

In [3]:
table_name = 'submissions'

In [4]:
df2 = pd.read_sql(f"SELECT * FROM {table_name}", engine)

In [5]:
df2.head()

,id,author_id,title,abstract,keywords,co_authors,file_path,file_type,status,submission_date
0,1,1,Exploring the Role of Nonlinear Dynamics in Et...,This paper examines the application of nonline...,"nonlinear dynamics, agriculture, Ethiopia, dif...",None,uploads/ethiopian_agriculture_paper.pdf,pdf,pending,2025-02-11 09:25:36
1,2,2,Advanced Mathematical Models for Climate Chang...,This research proposes mathematical models tha...,"climate change, mathematical models, Horn of A...",None,uploads/climate_change_horn_of_africa.docx,word,reviewing,2025-02-11 09:25:36
2,3,3,Mathematical Analysis of Population Growth in ...,The study provides a mathematical framework to...,"population growth, Addis Ababa, urban planning...",None,uploads/population_growth_addis_ababa.tex,latex,editing,2025-02-11 09:25:36
3,5,4,Numerical Methods using PDEs,In this paper ....,Numerical methods,None,uploads\1739408026205.pdf,pdf,pending,2025-02-12 16:53:46